.action-header {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000;
    color:#fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-el {
    display: flex;
}
.header-element {
    max-width: 1375px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.burger-bar {
    display: none;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #000;
    border-radius: 50%;
}
.line {
    height: 1.5px;
    width: 80%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.line1 {
    top: 30%;
}
.line3 {
    top: 70%;
}
.container-new {
    max-width: 1110px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.left-box-new {
    width: 490px;
    gap: 20px;
}
.right-box-new {
    width: 490px;
}
.right-image-new {
    width: 100%;
}
.text2 {
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -1px;
    color: #000000;
}
.para {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.r-new {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.10000000149011612px;
    color: #fff;
    padding-bottom: 20px;
}
.right-text-block {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #fff;
    padding-bottom: 20px;
}
.right-text3-block {
    width: 445px;
    height: 24px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.10000000149011612px;
    color: #fff;
}
.action-el {
    width: 100px;
    height: 48px;
    border-radius: 32px;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.small-box-left-new {
    display: flex;
    align-items: center;
    gap: 20px;
}
.action-descr {
    width: 236px;
}
.new-wrapper {
    max-width: 1140px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    column-gap: 133px;
    align-items: center;
}
.section-bg {
    background-color: #000;
}
.wrapper-left{
    width: 503.5px;
}
.wrapper-right-new{
    width: 503.5px;
    color: #fff;
}
.wrapper-image-left {
    width: 100%;
}
@media (max-width: 1024px) {
    .container-new {
        flex-direction: column;
    }
    .left-box-new {
        width: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 68px;
    }
    .right-box-new {
        width: 100%;
    }
    .action-descr {
        width: 100%;
    }
    .new-wrapper {
        flex-direction: column;
    }
    .wrapper-left {
        width: 100%;
    }
    .wrapper-right-new {
        width: 100%;
        display: flex;
    }
}
@media (max-width: 744px) {
    .small-box-left-new {
        flex-direction: column;
    }
    .left-box-new {
        margin-bottom: 24px;
    }
    .wrapper-right-new {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 480px) {
    .navigation {
        display: none;
    }
    .action-header {
        display: none;
    }
    .burger-bar {
        display: block;
    }
}
@media (max-width: 375px) {
    
}