.header {
    max-width: 1440px;
    width: 100%;
    height: 96px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ul-element {
    gap: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action {
    padding: 12px 24px 12px 24px;
    gap: 10px;
    border-radius: 32px;
    background-color: #000;
    color: #FFF;
}
.bar {
    display: none;
    background-color: #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.container {
    max-width: 1440px;
    width: 90%;
    height: 556px;
    margin: 0 auto;
    gap: 130px;
    display: flex;
    align-items: center;
}
.left-container {
    width: 90%;
    height: 350px;
    gap: 20px;
}
.text-2 {
    font-family: Inter;
    font-size: 56px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: -1px;
    text-align: left;
}
.para-text {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
}
.action-2 {
    display: flex;
    align-items: center;
}
.action-3 {
    padding: 12px 24px 12px 24px;
    gap: 10px;
    background-color: #000;
    border-radius: 32px;
    color: #FFF;
}
.para {
    width: 236px;
    height: 40px;
    margin: 10px;
}
.right-container {
    width: 90%;
    height: 428px;
}
.image-new {
    width: 90%;
    height: ;
}
.boxs {
    width: 1440px;
    height: 244.2px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
}
.box {
    width: 360px;
    height: 116.2px;
    gap: 20px;
}
.ellipse {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }
    .right-container {
        width: 100%;
        height: 1200px;
    }
    .left-container {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }  
    .boxs {
        width: 100%;
        display: flex;
    }
}
@media (max-width: 744px) {
    .container {
        flex-direction: column;
    }
    .right-container {
        width: 100%;
    }
    .left-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .para-text {
        text-align: center;
    }
    .text-2 {
        text-align: center;
    }
}
@media (max-width: 375px) {
    .ul-element {
        display: none;
    }
    .action {
        display: none;
    }
    .bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .container {
        flex-direction: column;
    }
    .right-container {
        width: 100%;
    }
    .left-container {
        width: 100%;
        height: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .para-text {
        text-align: center;
        flex-direction: column;
    }
    .text-2 {
        text-align: center;
        font-size: 35px;
    }
    .action-2 {
        flex-direction: column;
        text-align: center;
    }
}